*:focus
{
    outline: none;
}

html
{
    height: 100%;
}

body
{
    margin: 0;
    display: flex; 
    flex-direction: column;  
    min-height: 100%;
}

.header
{
    flex: 0 0 auto;
}

.navigation_container
{
    width: 960px;
    margin: 0 auto;
}

.navigation
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.navigation_item
{
    position: relative; 
}

.navigation_item_text
{
    display: block;
    padding-top: 2px;
    padding-left: 47px;
    padding-right: 20px;
    text-decoration: none;
    font: 19px/48px Georgia;
    color: #333;
}

.navigation_item_messages
{
    padding-left: 45px;
}

.navigation_item_text:before
{
    content: "";
    display: block;
    height: 16px; 
    position: absolute;
    top: 17px;
    left: 21px;
}

.navigation_item_text:hover
{
    background-color: #15a98c;
    color: #f5f5f5;
}

.navigation_item_messages:before
{
    background-image: url("../pictures/about_me_icon.png");
    width: 16px;
}

.navigation_item_messages:hover:before
{
    background-image: url("../pictures/about_me_white_icon.png");
    width: 16px;
}

.top_block
{
    background-image: url("../pictures/background_pic.png");
    background-repeat: no-repeat;
    background-position: top;
    padding: 170px 0 47px;
    background-size: contain;
    flex: 1 0 auto;
}

.show_messages
{
    width: 697px;
    margin: 0 auto;
    padding-bottom: 49px;
    background-color: #f5f5f5;
}

.form_title 
{
    display: block;
    text-align: center;
    margin-bottom: 73px;
    padding-top: 48px;
    text-transform: uppercase;
    font: 300 36px/1 'Open Sans', sans-serif;
    color: #333;
    position: relative;
}

.form_title:before, .form_title:after
{
    display: block;
    content: '';
    height: 1px;
    width: 256px;
    background-color: #c4c4c4;
    position: absolute;
}

.form_title:before
{
    left: 0;
    top: 66px;
}

.form_title:after
{
    right: 0;
    top: 66px;
}

.caption
{
    display: block;
    font: 20px 'Open Sans', sans-serif;
    color: #333;
    margin: 0 0 6px 79px;
}

.necessarily:after
{
    content: '*';
    display: inline-block;
    font: 20px 'Open Sans', sans-serif;
    color: #ee0707;
    margin-left: 5px;  
}

.text_field
{
    box-sizing: border-box;
    width: 540px;
    margin: 0 0 27px 80px;   
    font: 18px 'Open Sans', sans-serif;
    padding: 11px 17px;
    color: #555;
    border: 2px solid #c9c9c9;
    border-radius: 3px;
}

.text_field:focus
{
    border: #15a98c solid 2px;
}

.submit
{
    display: block;
    margin-left: 80px;
    background-color: #15a98c;
    font: 400 19px/2.5 Georgia;
    color: #f5f5f5; 
    border: none;
    width: 220px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.form_answer
{
    position: absolute; 
    padding: 0; 
    margin: 0 0 0 80px; 
    width: 220px; 
    text-align: center; 
    font: 16px/1.8 Georgia; 
}

.error
{
    color: #e85723;
}

.success
{
    color: #15a98c;
}

.profile_data
{
    margin-bottom: 0;
    margin-left: 80px;
    padding-left: 30px;
    width: 500px;
    overflow: hidden;
    font: 19px/1.5 Georgia; 
    color: #333;
}

.footer_text 
{
    display: block;
    background-color: #f5f5f5;
    text-align: center;
    font: 16px/70px Georgia;
    color: #555;
    flex: 0 0 auto;
}
